.header-image {
  background-image: url('../../../assets/images/5ce806cb0abbc25fc5589461_1558709963909.jpg');
  background-size: cover;
}

.spacer {
  flex: 1 1 auto;
}

.checkout-form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

mat-form-field{
  width: 70%;
}



