
<button mat-button routerLink="/book-now">GO BACK</button>
<div class="container" style="margin: auto;">
  <mat-card>
    <div>
      <div class="h4">Steps</div>
      <div class="h5">We provide 2 payment option</div>
      <div class="row">
        <div class="col-sm-6">
          <div class="h5"> 1.Manual payment</div>
          <mat-list>
            <mat-list-item class="mt-3">1.After entering the details click on Pay-Manually button</mat-list-item>
            <mat-list-item class="mt-3"> 2.You will receive a mail (Order confirmed and payment pending) containing payment procedure </mat-list-item>
            <mat-list-item class="mt-3">3.After payment is successfull you will receive a mail ( Order confirmed and payment Success)</mat-list-item>
          </mat-list>
        </div>
        <div class="col-sm-6">
          <div class="h5">2.Razor Pay</div>
          <mat-list>
            <mat-list-item class="mt-3">1.Razor pay is the most trusted and Widely used payment gateway accross india</mat-list-item>
            <mat-list-item class="mt-3">2.Once details are filled ,Click on Razor-Pay button ,Razor Pay pop window will open   </mat-list-item>
            <mat-list-item class="mt-3">3.Enter your payment information (don't worry we don't store your payment information on our servers) </mat-list-item>
            <mat-list-item class="mt-3">4.After payment is successfull you will receive a mail ( Order confirmed and payment Success) </mat-list-item>
          </mat-list>
        </div>
      </div>
    </div>

      <div class="row mt-4">
        <div class="col-sm-6">
          <table width="100%">
            <tbody>
              <tr>
                <td><strong>TheatreName</strong></td>
                <td>{{this.order.theatreName}}</td>
              </tr>
              <tr>
                <td><strong>Date</strong></td>
                <td> {{this.order.screenDate | date}}</td>
              </tr>
              <tr>
                <td><strong>SlotName  </strong></td>
                <td>{{this.order.slotName}}</td>
              </tr>
              <tr>
                <td><strong>Price</strong></td>
                <td>{{this.order.price}}</td>
              </tr>
              <tr>
                <td><strong>Number of seats</strong></td>
                <td>{{this.order.numberOfSeats}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-6">
        </div>
      </div>


    <mat-card-content>
      <div *ngIf="isloading" class="mt-2 mb-2">
        <mat-progress-bar mode="query"></mat-progress-bar>
        <div class="mt-2 text-center">
          <small>This process might take a few seconds.please please don't refresh or hit back button</small>
        </div>
      </div>
      <form class="checkout-form" [formGroup]="checkoutForm">
        <mat-form-field appearance="standard">
          <div>
            <mat-label>
              Full Name:
              </mat-label>
              <input matInput formControlName="fullName" placeholder="Your Full Name">
            <div *ngIf="checkoutForm.get('fullName')?.invalid &&
             (checkoutForm.get('fullNamename')?.dirty || checkoutForm.get('fullName')?.touched)">
              Please provide a name.
            </div>
          </div>
        </mat-form-field>

        <mat-form-field appearance="standard">
          <div>
            <mat-label>
              Email:
            </mat-label>
              <input matInput formControlName="email" placeholder="Your email">
            <div *ngIf="checkoutForm.get('email')?.invalid &&
            (checkoutForm.get('email')?.dirty || checkoutForm.get('email')?.touched)">
              Please provide a valid email address.
            </div>
          </div>
        </mat-form-field>

        <mat-form-field appearance="standard">
          <div>
            <mat-label>Contact Number</mat-label>
              <input matInput formControlName="phoneNumber" placeholder="Your contact number">
            <div *ngIf="checkoutForm.get('phoneNumber')?.invalid &&
            (checkoutForm.get('checkoutForm')?.dirty || checkoutForm.get('phoneNumber')?.touched)">
             contact number must be at least 10 characters long.
            </div>
          </div>
        </mat-form-field>



      </form>
      <div class="text-center">

          <button class="manual-pay-button mt-2 mb-2 ms-2 me-2" mat-raised-button type="submit" (click)="onSubmit(checkoutForm)"
           [disabled]="checkoutForm.invalid || isRazorPayClicked">Pay-Manually</button>


            <app-razor-payment (isRazorPayClicked)="isRazorPayClickedEvent($event)" [toDisable]="checkoutForm.invalid"
            [formData]="checkoutForm.value" [isManualPayClicked]="isManualPayClicked"></app-razor-payment>
          </div>
    </mat-card-content>
  </mat-card>
</div>
