
<!--  Navigation section contains 3 main part
      1. Mat-Toolbar contains navigation menu displayed only for desktop view only
      2. Mat-sidebar-container navigation menu displayed on left side of the web-page
      3. Mat-sidenav-content displays all the component for selected route
-->

<mat-toolbar color="primary">
  <mat-toolbar-row>

    <button mat-icon-button  (click)="drawer.toggle();">
    <mat-icon routerLinkActive="active-icon">menu</mat-icon></button>
    <span style="font-size: 22px;" >{{title}}</span>

     <span class="toolbar-spacer"></span>

    <nav [ngStyle]="{'display' : isHandset? 'None':'Block'}">
      <a [routerLink]="['/home']" routerLinkActive="active" class="nav-bar-item" mat-button>Home</a>
      <a [routerLink]="['/reviews']" routerLinkActive="active" class="nav-bar-item" mat-button>Reviews</a>
      <a [routerLink]="['/contact']" routerLinkActive="active" class="nav-bar-item" mat-button>Contact</a>
    </nav>

  </mat-toolbar-row>

</mat-toolbar>


<mat-sidenav-container class="sidenav-container" hasBackdrop="true" >
  <mat-sidenav
  #drawer
  class="sidenav"
  [attr.role]="(isHandset ) ? 'dialog' : 'navigation'"
  [mode]="(isHandset) ? 'over' : 'side'"
  [opened]="isMenuOpen">

    <mat-nav-list >
      <a [routerLink]="['/home']" mat-list-item  routerLinkActive="active">
        <mat-icon routerLinkActive="active-icon">home</mat-icon>
        <span class="ml-2" > Home </span>
      </a>
      <a [routerLink]="['/reviews']" mat-list-item  routerLinkActive="active">
        <span class="ml-2" > Reviews </span>
      </a>
      <a [routerLink]="['/contact']" mat-list-item  routerLinkActive="active">
        <span class="ml-2" > Contact  </span>
      </a>
      <a [routerLink]="['/faqs']" mat-list-item  routerLinkActive="active">
        <span class="ml-2" > FAQ`s </span>
      </a>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content  [ngStyle]="{ 'margin-left.px': contentMargin }" >
    <div class="main">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>



