
<div style="background-color: #eee ;" class="container-fuild mt-5">
  <div class="row">
    <div class="col-sm-6">
      <img height="500px" width="100%" src="../../../assets/images/5ce806cb0abbc25fc5589461_1558709963909.jpg">
    </div>
    <div class="col-sm-6">
      <div class="container-fluid mt-3 ms-2 me-5 pt-5 text-center">
        <h2 class="h2">Private Mini Theatre in Bengaluru</h2>
        <div class="h1 mt-5">
            Watch your favorite content
        </div>
        <div class="h1 mt-3">
          on Big Screen with
      </div>
      <div class="h1 mt-3">
            loved ones
    </div>
        <h2 class="h3 mt-3">Total privacy and Best service </h2>
        <button mat-button routerLink="/book-now" class="book-now-button mb-3" >Book now</button>
      </div>

    </div>
  </div>
</div>
