.book-now-button{

  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
  color: white;
  font-size: large;
  border-radius: 30px;
  width: 150px;
}
