<!--
  This component is built using ngb-carousel and added 2 mat-card for each slide
  To add new card or slide ,follow the pattern and refer image-slider component for more information
-->

<div class="container-fluid review-section" id="reviews">
  <h2 style="text-align: center;">Our Customer's Review's </h2>
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="container overflow-hidden">
        <div class="row gx-5">
          <div class="col-sm-6 p-3">
            <mat-card  class="review-card">
              <mat-card-header>
                <div mat-card-avatar class="review-header-image">
                </div>
                <mat-card-title>
                  <ngb-rating class="review-star-rating" [rate]="4" [max]="5" [readonly]="true"></ngb-rating>
                </mat-card-title>
              </mat-card-header>
              <mat-card-content class="review-content"  >
                <p>
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.
                </p>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-sm-6 p-3">
            <mat-card  class="review-card">
              <mat-card-header>
                <div mat-card-avatar class="review-header-image">
                </div>
                <mat-card-title>
                  <ngb-rating class="review-star-rating" [rate]="4" [max]="5" [readonly]="true"></ngb-rating>
                </mat-card-title>
              </mat-card-header>
              <mat-card-content class="review-content"  >
                <p>
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.
                </p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="container overflow-hidden">
        <div class="row gx-5">
          <div class="col-sm-6 p-3">
            <mat-card  class="review-card">
              <mat-card-header>
                <div mat-card-avatar class="review-header-image">
                </div>
                <mat-card-title>
                  <ngb-rating class="review-star-rating" [rate]="4" [max]="5" [readonly]="true"></ngb-rating>
                </mat-card-title>
              </mat-card-header>
              <mat-card-content class="review-content"  >
                <p>
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.
                </p>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-sm-6 p-3">
            <mat-card  class="review-card">
              <mat-card-header>
                <div mat-card-avatar class="review-header-image">
                </div>
                <mat-card-title>
                  <ngb-rating class="review-star-rating" [rate]="4" [max]="5" [readonly]="true"></ngb-rating>
                </mat-card-title>
              </mat-card-header>
              <mat-card-content class="review-content"  >
                <p>
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.
                </p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="container overflow-hidden">
              <div class="row gx-5">
                <div class="col-sm-6 p-3">
                  <mat-card  class="review-card">
                    <mat-card-header>
                      <div mat-card-avatar class="review-header-image">
                      </div>
                      <mat-card-title>
                        <ngb-rating class="review-star-rating" [rate]="4" [max]="5" [readonly]="true"></ngb-rating>
                      </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="review-content"  >
                      <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                      </p>
                    </mat-card-content>
                  </mat-card>
                </div>
                <div class="col-sm-6 p-3">
                  <mat-card  class="review-card">
                    <mat-card-header>
                      <div mat-card-avatar class="review-header-image">
                      </div>
                      <mat-card-title>
                        <ngb-rating class="review-star-rating" [rate]="4" [max]="5" [readonly]="true"></ngb-rating>
                      </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="review-content"  >
                      <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                      </p>
                    </mat-card-content>
                  </mat-card>
                </div>
              </div>
            </div>
                </ng-template>
  </ngb-carousel>
  </div>
