/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; overflow-y: hidden; font-family: Roboto, "Helvetica Neue", sans-serif; }

.success-snackbar{
  background-color: green;
  color: white;
  position: absolute;
  top: 60px;
  right: 10px;
  margin: 0 !important;
}


.failure-snackbar{
  background-color: red;
  color: white;
  position: absolute;
  top: 60px;
  right: 10px;
  margin: 0 !important;
}
